body
{
    text-align:left;
    color:black;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #f0deb9;
    font-size:30px;
    margin: 0px;
  
}

.page-frame
{
    border: 10px solid #f5c35d;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
}
h1
{
    color:#28217a;
    text-align:center;
    font-size:70px;
    font-family: "Chalkduster",fantasy;
}

h2
{
    color:black
    text-align:left;
    font-family: Arial;
    font-size:45px;
}

.home-pic
{
    width: 400px;
    height: auto; /* maintains aspect ratio */
    border-radius: 10px; /* optional: makes corners rounded */
    float:right;
    margin: 0 0 10px 20px;
}

